html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/img_bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
